{% extends 'ratingsbase.html' %}

{% block content %}
<style>
	ul {
	  list-style-type: none;
	  font-size: medium;
	}
</style>
	{% if all_movies_list %}
		<div class="listColumns">
			<ul>
			{% for movie in all_movies_list %}
				<li><a href="{{movie.1}}/">{{movie.0}}</a></li>
			{% endfor %}
			</ul>
		</div>
	{% else %}
	    {% for category, movies in movies_dict.items %}
		    <h5><a href="/categories/{{category}}/">{{ category }}</a></h5>
		    <div class="container">
		        <div class="row justify-content-around mb-3">
			        {% for movie in movies %}
				        <div class="col-2 movie-grid-col">
				            <h5><a href="/movies/{{movie.0}}/">{{movie.1}}</a></h5>
					    </div>
			        {% endfor %}
		        </div>
		    </div>

		{% endfor %}
	{% endif %}
{% endblock %}
