<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	{% load static %}
	<link rel="stylesheet" href="{% static "movie_ratings/movie_ratings.css" %}">
	{% block extendhead %}
	{% endblock %}
	<title>{% block title %}Movie Recommender{% endblock %}</title>
</head>
<body>
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">Home</a>
		<form action="{% url 'movies' %}" method="get" class="w-100">
		    {% if search_placeholder %}
				<input class="form-control form-control-dark w-100" type="text" name="q" value="{{search_placeholder}}" aria-label="Search">
		    {% else %}
				<input class="form-control form-control-dark w-100" type="text" name="q" placeholder="Search" aria-label="Search">
		    {% endif %}
		</form>
	    <ul class="navbar-nav px-3">
		    <li class="nav-item text-nowrap">
			    <a class="nav-link" href="admin/logout">Sign out</a>
		    </li>
	    </ul>
	</nav>
	<div class="container-fluid">
		<main role="main">
			{% block content %}
			{% endblock %}
		</main>
	</div>
</body>
</html>